PORT = 8080

DB_DRIVER_NAME = "mysql"
DB_HOST = "0.0.0.0"
DB_USER = "root"
DB_ROOT_PASSWORD = "root"
DB_PASSWORD = "root"
DB_DATABASE = "cartola"
DB_SOURCE_NAME = "root:root@tcp(mysql:3306)/cartola?parseTime=true"

KAFKA_BOOTSTRAP_SERVERS = "broker:9094"
KAFKA_CONSUMER_GROUP_ID = "gostats"