[submodule "cartola-next"]
	path = cartola-next
	url = ./cartola-next
[submodule "consolidation"]
	path = consolidation
	url = ./consolidation
[submodule "django"]
	path = django
	url = ./django
[submodule "kafka"]
	path = kafka
	url = ./kafka
